*{
    margin:0;
    padding:0;
}
*{
    box-sizing:border-box;
    
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    background: #f8eb32;
    
}
.pikachu{
    width:422px;
    height:239px;
    position: relative;
}
.eye{
    width:65px;
    height:65px;
    border-radius:50%;
    border:3px solid black;
    background:#2e2e2e;
    
}
.eye.left{
    position:absolute;
    top:0px;
    left:34px;
}
.eye.right{
    position:absolute;
    top:0px;
    right:34px;
}
.eye::before{
    content:'';
    display:block;
    width:28px;
    height:28px;
    border-radius:50%;
    border:3px solid black;
    background:white;
    position:absolute;
    top:0px;
    left:6px;
}
.nose{
    width:0px;
    height:0px;
    border-radius:14px;
    border:14px solid black;
    border-color:black transparent transparent transparent;
    position:absolute;
    top:36px;
    left:50%;
    transform:translateX(-14px);
}
.lip.left{
    width:91px;
    height:29px;
    border-bottom-left-radius: 27px;
    border:2px solid black;
    border-color:transparent transparent black black;
    position:absolute;
    right:209px;
    top:60px;
    transform:rotate(-15deg);
    z-index:1;
    background: #f8eb32;
    
}
.lip.right{
    width:91px;
    height:29px;
    border-bottom-right-radius: 27px;
    border:2px solid black;
    border-color:transparent black black transparent;
    position:absolute;
    left:209px;
    top:60px;
    transform:rotate(15deg);
    z-index:1;
    background: #f8eb32;
    
}
.lipwrapper{
    position:absolute;
    width:131px;
    height:162px;
    right: 144px;
    bottom:0px;
    overflow: hidden;
}
.lowlip{
    height: 332px;
    width: 129px;
    border-radius: 73px/188px;
    border: 2px solid black;
    position: absolute;
    bottom:0px;
    background:#8b1b17;
    z-index:0;
    overflow: hidden;

   
}
.tongue{
    height: 332px;
    width: 129px;
    border-radius: 63px/45px;
    background: #e85763;
    position: absolute;
    top: 204px;
}
.face{
    width:90px;
    height:90px;
    border-radius:50%;
    background:#e63323;
    border:2px solid black;
}
.face.left{
    position:absolute;
    left:0px;
    top:110px;
}
.face.right{
    position:absolute;
    right:0px;
    top:110px;
}